  <!--jquery js-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <!--bootstrap js-->
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <!--custom JS section-->
  <script src="/Scripts/script.js"></script>
</body>
</html>